organization = "Example"
state = "Example"
country = EX
cn = "Client"
serial = 1
expiration_days = 365242
dns_name = "example.net"
tls_www_client
signing_key
encryption_key
# XXX Older OpenSSL versions require these
# https://github.com/openssl/openssl/issues/1418
ca
cert_signing_key
# End XXX
